### Get substitute from Riksdagens öppna data
* see [#115](https://github.com/salgo60/Wikidata_riksdagen-corpus/issues/115#issuecomment-1571957413) 
* this [notebook](https://github.com/salgo60/Wikidata_riksdagen-corpus/blob/main/Notebook/substitute.ipynb)

In [1]:
from datetime import datetime
start_time  = datetime.now()
print("Last run: ", start_time)

Last run:  2023-06-01 14:41:08.270909

In [30]:
import urllib3, json
import pandas as pd 
http = urllib3.PoolManager() 


import requests
import pandas as pd

# Fetch the JSON data from the URL
response = requests.get('https://data.riksdagen.se/personlista/?rdlstatus=samtliga&utformat=json&termlista=')
data = response.json()

# Extract the list of people from the JSON data
people = data['personlista']['person']

# Flatten the person data and the role data separately, then join them together
person_df = pd.json_normalize(people, record_path=['personuppdrag', 'uppdrag'], meta=[
    'hangar_guid', 
    'sourceid', 
    'fodd_ar', 
    'kon', 
    'efternamn', 
    'tilltalsnamn', 
    'sorteringsnamn', 
    'iort', 
    'parti', 
    'valkrets'], 
    errors='ignore')

person_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30377 entries, 0 to 30376
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   organ_kod                30377 non-null  object
 1   roll_kod                 30377 non-null  object
 2   ordningsnummer           30377 non-null  object
 3   status                   30377 non-null  object
 4   typ                      30377 non-null  object
 5   from                     30377 non-null  object
 6   tom                      30377 non-null  object
 7   uppgift                  30377 non-null  object
 8   intressent_id            30377 non-null  object
 9   hangar_id                30377 non-null  object
 10  sortering                30377 non-null  object
 11  organ_sortering          30377 non-null  object
 12  uppdrag_rollsortering    30377 non-null  object
 13  uppdrag_statussortering  30377 non-null  object
 14  hangar_guid              30377 non-null  object
 15  sourceid                 30377 non-null  object
 16  fodd_ar                  30377 non-null  object
 17  kon                      30377 non-null  object
 18  efternamn                30377 non-null  object
 19  tilltalsnamn             30377 non-null  object
 20  sorteringsnamn           30377 non-null  object
 21  iort                     30377 non-null  object
 22  parti                    30377 non-null  object
 23  valkrets                 30377 non-null  object
dtypes: object(24)
memory usage: 5.6+ MB

In [31]:
person_df.status.value_counts()

                   23369
Tjänstgörande       5162
Ersättare           1054
Ledig                774
Ledig Ersättare       18
Name: status, dtype: int64

In [34]:
dfSubstitute = person_df[person_df["status"] == "Ersättare"]
dfSubstitute.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1054 entries, 127 to 30340
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   organ_kod                1054 non-null   object
 1   roll_kod                 1054 non-null   object
 2   ordningsnummer           1054 non-null   object
 3   status                   1054 non-null   object
 4   typ                      1054 non-null   object
 5   from                     1054 non-null   object
 6   tom                      1054 non-null   object
 7   uppgift                  1054 non-null   object
 8   intressent_id            1054 non-null   object
 9   hangar_id                1054 non-null   object
 10  sortering                1054 non-null   object
 11  organ_sortering          1054 non-null   object
 12  uppdrag_rollsortering    1054 non-null   object
 13  uppdrag_statussortering  1054 non-null   object
 14  hangar_guid              1054 non-null   object
 15  sourceid                 1054 non-null   object
 16  fodd_ar                  1054 non-null   object
 17  kon                      1054 non-null   object
 18  efternamn                1054 non-null   object
 19  tilltalsnamn             1054 non-null   object
 20  sorteringsnamn           1054 non-null   object
 21  iort                     1054 non-null   object
 22  parti                    1054 non-null   object
 23  valkrets                 1054 non-null   object
dtypes: object(24)
memory usage: 205.9+ KB

In [42]:
dfSubstitute[["intressent_id","tilltalsnamn","efternamn","status","uppgift"]]

,intressent_id,tilltalsnamn,efternamn,status,uppgift
127,0979018047922,Kajsa,Lunderquist,Ersättare,[Tobias Billström]
129,0979018047922,Kajsa,Lunderquist,Ersättare,[Tobias Billström]
157,0720249554818,Börje,Vestlund,Ersättare,[Stefan Löfven]
158,0720249554818,Börje,Vestlund,Ersättare,[Anders Ygeman]
161,0720249554818,Börje,Vestlund,Ersättare,[Bosse Ringholm]
...,...,...,...,...,...
30313,0381853591928,Malte,Roos,Ersättare,[Rasmus Ling]
30318,0639398547124,Bassem,Nasr,Ersättare,[Rasmus Ling]
30326,0591055036519,Mauricio,Rojas,Ersättare,[Lars Leijonborg]
30338,0845783625227,Arwin,Sohrabi,Ersättare,[Rose-Marie Carlsson]
30340,0747883322423,Amir,Jawad,Ersättare,[Mauricio Rojas]

In [41]:
end = datetime.now()
print("Ended: ", end) 
print('Time elapsed (hh:mm:ss.ms) {}'.format(datetime.now() - start_time))

Ended:  2023-06-01 17:30:38.382326
Time elapsed (hh:mm:ss.ms) 2:49:30.112245